.stories {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-template-rows: repeat(auto-fill, 20rem);
  justify-content: center;
  gap: 1rem 1rem; 
  width: 95%;
  max-width: 62rem;
}

.story {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 20rem;
  width: 20rem;
  background-color: var(--transparent-dark-navy);
  padding: .5rem;
  box-shadow: 3px 3px 12px -1px rgba(0, 0, 0, 0.30);
  /* cursor: pointer; */
}

.story-title{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4rem;
  overflow-wrap: break-word;
  -webkit-text-stroke: 1px var(--white);
  color: transparent;
}

.story-title:hover{
  -webkit-text-stroke: 1px var(--white);
  background: url('../imgs/back.png');
  background-clip: text;
  background-position: 0 0;
  animation: back 30s linear infinite;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .story-title{
    font-size: 3.5rem;
  }
}
